import assemblyai as aai

aai.settings.api_key = "{{API_KEY}}"

# TranscriptionConfig enables extra features. A few examples (all optional):
config = aai.TranscriptionConfig(
    # speaker_labels=True,     # diarize who said what
    # summarization=True, summary_type="bullets",
    # sentiment_analysis=True,
    # auto_chapters=True,
)

transcriber = aai.Transcriber()
transcript = transcriber.transcribe("https://assembly.ai/wildfires.mp3", config=config)

if transcript.status == aai.TranscriptStatus.error:
    raise RuntimeError(transcript.error)

print(transcript.text)
